<html>
    <head>
        <title>Hello in Ansible</title>
    </head>
    <body>
        <h1>Platform configured with Ansible</h1>
        <p>If you can see this page it means that nginx was installed properly.</p>
        <p>Page is running on server {{ inventory_hostname }}</p>
    </body>
</html>